.title-h1{
    font-weight: bold;
    text-align: center;
    color: rgb(177, 3, 154); 
    font-size: 35px;
}
.title-gdp{
    font-weight: bold;
    text-align: center;
    color: blue; 
    font-size: 35px;
}

.subheading{
    font-weight: bold;
    text-align: center;
    color: rgb(1, 196, 105);  
}

.paragraph{
    font-weight: bold;
    text-align: center;
    color: black; 
}

.page-options{
font-size: 30px;
}

.page-hyperlinks{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.page-hyperlinks:visited {
    color: rgb(255, 0, 212);
}

body{
    font-family: Verdana;
    font-weight: bold;
}

.redtext{
    color: rgb(177, 16, 16);
}

.bluetext{
    color: blue;
}

.yellowtext{
    color: yellow;
}

.whitetext{
    color: white;
}

.greentext{
    color: green;
}

.lightgreentext{
    color: lightgreen;
}

.orangetext{
    color: orange;
}

.darkgreentext{
    color: darkgreen;
}

.countriesGDP{
    background-color: rgb(83, 17, 92);
    color: rgb(194, 212, 208);
}

.countriesPopulation{
    background-color: rgb(29, 170, 83);
    color: rgb(0, 0, 0);
}

.countriesSize{
    background-color: rgb(29, 125, 170);
    color: rgb(0, 0, 0);
}

.titleindex{
    display.flex;
    background-color: rgb(0, 119, 255);
    text-align: center;
    color: white;
}

.pages-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(76, 88, 202);
}

.subheadingsource{
    display: flex;
    font-size: 9.5px;
    justify-content: center;
    align-content: center;
}

.gdp-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.homebutton{
    display: flex;
    color: blue;
    font-size: 20px;
    justify-content: center;
    align-content: center
}