.title-h1{
    font-weight: bold;
    text-align: center;
    color: rgb(0, 255, 136); 
    font-size: 35px;
}
.title-gdp{
    font-weight: bold;
    text-align: center;
    color: blue; 
    font-size: 35px;
}

.subheading{
    font-weight: bold;
    text-align: center;
    color: rgb(1, 196, 105);  
}

.paragraph{
    font-weight: bold;
    text-align: center;
    color: black; 
}

.page-options{
font-size: 30px;
}

.page-hyperlinks{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

body{
    font-family: Verdana;
    font-weight: bold;
}

.redtext{
    color: red;
}

.bluetext{
    color: blue;
}

.yellowtext{
    color: yellow;
}

.whitetext{
    color: white;
}

.greentext{
    color: green;
}

.lightgreentext{
    color: lightgreen;
}

.orangetext{
    color: orange;
}

.countriesGDP{
    background-color: rgb(51, 94, 51);
    color: rgb(154, 219, 203);
}

.pages-list{
    background-color: rgb(0, 174, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}